# Python cache files
__pycache__/
*.py[cod]

# Database files
*.db
*.sqlite3

# Environment files
.env
.venv/
venv/



SERP_API_KEY=716c569560f9229b7321d80c14c102b54272efe979c5ee93d6cea9f1d0802443